.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: public sans;
    margin: 0;
    padding: 0;
}

/*HEADER*/

header {
   
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    position: relative;
    z-index: 10;
}



nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: hsl(233, 8%, 62%);
}

button{
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(45deg, hsl(192, 69%, 51%),hsl(136, 64%, 51%));
    cursor: pointer;
    
}

button:hover{
    opacity: 0.7;
}

/*SECTION 1*/

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    background-color: hsl(0, 0%, 98%);;
}

.poster{
    position: relative;
    top: -5rem;
    right: -15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 3;
}

.hero{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 10rem 0 12rem;
}


h1{
    font-size: 4rem;
    color: hsl(233, 26%, 24%);
    font-weight: 400;
}

p{
    color: hsl(233, 8%, 62%);
    line-height: 1.5rem;
    font-size: 1.1rem;
}

/*SECTION 2*/

.section2{
    height: 70vh;
    background-color: hsl(220, 16%, 96%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 10rem 0 12rem;
}

.topic-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 10rem 2rem 0rem;
}

.topic1{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.topic1 img{
    width: 5rem;
    padding-bottom: 1rem;
}

/**SECTION 3*/

.section3{
    height: 80vh;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 10rem 0 12rem;
}

.section3 strong{
    padding: 0rem 1rem 0rem 1rem;
}

.author{
    padding: 0rem 1rem 0rem 1rem;
}

.section3 p{
    padding: 0rem 1rem 0rem 1rem;
}

.cards{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    background-color: white;
}

.card img{
    width: 100%;
}

.author{
    color: hsl(233, 8%, 62%);
}


/**FOOTER*/

footer{
    display: flex;
    background-color: hsl(233, 26%, 24%);
    color: hsl(0, 0%, 100%);
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}

/* l-footer{
    display: flex;
} */

.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5rem;
}

.icons{
    display: flex;
    gap: 1rem;
}

.submit{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.details p:hover{
    color: hsl(136, 64%, 51%);
    cursor: pointer;

}

.details{
    display: grid;
    grid-template-columns: 50% 50%;
}